/*   
Theme Name: Advent Calendar
Theme URI: https://www.twosparrows.co.nz
Description: A custom-developed theme for the Advent Calendar of the Anglican Diocese of Auckland. The start date is automatically calculated from the first Sunday in Advent for the years 2018 to 2030.
Author: Developed by Two Sparrows
Author URI: https://www.twosparrows.co.nz
Version: 1.6


COLOURS

Purple #d7d5e5

ORDER OF CSS

1. General
2. Elements
3. Anchors, Inputs, Buttons, Checkboxes etc
4. Sections
5. Navs
6. Individual Pages (see headings within this section)
7. Miscellaneous and General Classes
8. Bootstrap overrides (general)
9. Bootstrap overrides (by screen size)
10. Retina images

*/

/* 1. General */

* {
	margin: 0;
	padding: 0;
}

html.splash { /* see https://css-tricks.com/perfect-full-page-background-image/ and https://css-tricks.com/why-use-classes-or-ids-on-the-html-element/ */
	background-color: #ddd;
	background: url('img/beach_sunset@025x.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-webkit-backface-visibility: hidden; /* important for mobile browsers, as with height: 100vh and overflow: hidden. See https://css-tricks.com/forums/topic/full-page-backgrounds-on-ios-background-size-cover/page/4/ */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fanwood Text', serif;
	color: #000;
	margin: 0;
	padding: 0;
}


/* 2. Elements */

p, li, td {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	padding: 0;
	margin: 6px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fanwood Text', serif;
	padding: 0;
	margin: 6px 0;
}

h1 {
}

h2 {
}

ol, ul {
	margin: 10px 0;
}

li {
	margin-left: 20px;
}

img {
	border: none;
}


a {
	border: none;
}


/* Image Classes for WP */

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

img.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

img.alignright {
	float: right;
	margin: 0 0 10px 10px;
}


/* 3. Anchors, Inputs, Buttons, Checkboxes etc */

a:link {
	color: #000;
	text-decoration: underline;
	transition: 0.3s ease all;
}

a:visited {
	color: #000;
	text-decoration: underline;
	transition: 0.3s ease all;
}

a:hover {
	color: #777;
	text-decoration: underline;
	transition: 0.3s ease all;
}

a:active {
	color: #999;
	text-decoration: underline;
	transition: 0.3s ease all;
}

a.button {
	padding: 5px 32px;
	font-size: 16px;
	text-align: center;
	font-style: italic;
	color: #504b72;
	border: 1px #504b72 solid;
	text-decoration: none;
}

a.button:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.1);
}

/* 4. Sections */

.main-pages .col-lg-3, .main-pages .col-lg-7, .main-pages .col-lg-8, .main-pages .col-lg-1 {
	min-height: 100vh;
}

/* Main elements */

#main-content.col-lg-9 {
	background: #ddd;
	padding: 0;
	/*width: 900px;*/
}

#main-content.col-lg-9.lent-category, body.single #main-content.col-lg-9 {
	background: #fff;
}

#main-content.col-lg-9.lent-category .row, body.single #main-content.col-lg-9 .row {
	padding: 30px 0;
}

#main-content .post.indent {
	padding: 15px 30px;
	max-width: 700px;
}

/* Aside */

#aside-wrap {
	position: fixed !important;
	overflow: hidden;
	z-index: 999;
	padding-right:0;
}

#aside-wrap.unlock {
	/*display: none !important;*/
	position: absolute !important;
}

#aside-wrap .col-lg-9 {
	z-index: -10;
}

aside {
	position: relative;
	height: 100vh;
	width: 100%;
	z-index: 10;
	background: #fff;
}

aside header {
	margin: 30px 0;
	height: 53px;
	padding-top: 12px;
	position: relative;
}

aside header a:link, aside header a:visited, aside header a:hover, aside header a:active {
	text-decoration: none;
	text-transform: uppercase;
	color: #d7d5e5;
	/* white-space: nowrap; /* no line breaks */
}

aside header #header-cross {
	position: absolute;
	left: 0;
	top: 12px;
}

aside header #header-title {
	position: absolute;
	left: 63px;
	top: -0;
	text-align: center;
	letter-spacing: 0.4px;
}

aside header .header-date {
	font-size: 115%;
    position: relative;
    top: -4px;
}

#scroll-aside {
	display: none !important;
	/*position: relative;
	z-index: -10;
}

#scroll-aside.unlock {
	position: relative;
	background: #f00;
	z-index: 100;
	border: 1px #f00 dotted;*/
}


/* Header */

header {
	height: 53px;
	padding-left: 20px;
	position: relative; /* For positioning other elements relative to it, such as nav */
}

header.splash {
	position: absolute;
	right: 32px;
	margin-top: 32px;
	padding-left: 0;
	width: 142px;
	height: 85px;
}

header.splash a {
	margin-left: 5px;
}

html.splash .container-fluid {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

/* Splash Main */

#splash-intro-container.container-fluid {
	top: 50%;
	transform: translateY(-50%);
}

#splash-intro-outer {
	width: 315px;
	margin: 0 auto;
}

#splash-intro {
	width: 315px;
	height: 315px;
	border-radius: 50%;
	background: rgba(60,61,91,0.4);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#splash-intro h1, #splash-intro h2, #splash-intro p {
	color: #fff;
	text-align: center;
}

#splash-intro-inner {
	width: 315px;
}

.white-cross {
	background: url('img/white-cross-large.png') no-repeat center center;
	width: 100%;
	height: 111px;
}

html.splash a.button {
	border: 1px #fff solid;
	color: #fff;
}

html.splash h1 {
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	padding: 25px 0 13px 0;
}

html.splash h2 {
	font-size: 18px;
	font-weight: 400;
	padding: 0 0 25px 0;
	text-transform: uppercase;
}

#main-content {
	min-height: 100vh; /* Vertical slide bar only appears when logged into WP */
	z-index: 50; /* Allows links to go above the fixed aside */
	padding: 0;
}

#main-content .col-lg-4 {
	padding: 0 !important;
	/*width: 300px;*/
}

#main-content .post {
	margin-left: 15px;	
}

.post.indent img {
	max-width: 100%;
	height: auto;
}


/* Footer */

footer {
	/* height: 43px; */
	height: 93px;
	margin: 20px 0 0 0;
	padding-left: 20px;
	min-width: 80px;
}

footer p {
	line-height: 20px;
	font-size: 11px;
	padding: 0;
}

footer .social-media-links {
	margin-bottom: 15px;
}

footer .social-media-links p {
	font-size: 130%;
	float: left;
	display: block;
}

footer .social-media-links a {
	display: block;
	margin-right: 15px;
}

/* Lent Calendar Section Styles */

/* Aside */

#aside_page.lent h2 + p {
	margin-top: -10px;
	font-size: 12px;
	line-height: 17px;
}

#aside_page.lent p a:link {
	text-decoration: none;
}

p.date {
	margin: -7px 0 28px 0;
}

div.lent-day-surround {
	position: relative; /* For positioning other elements relative to it, such as nav */
	float: left;
	width: 300px;
	height: 300px;
	overflow: hidden;
	background-color: #eee;
}

div.lent-day-surround.lent-day-double {
	width: 600px;
}

div.lent-day-surround.lent-day-triple {
	width: 900px;
}

div.lent-day-surround.lent-day-placeholder {
	background-color: #ddd;
}

div.lent-day-surround.hovering {
	cursor: pointer;
}

/*div.lent-day-surround:first-of-type, div.lent-day-surround:last-of-type { /* Sabbath *
	width: 600px;
}

div.lent-day-surround.rest-week-1:last-of-type { /* Sabbath
	width: 600px;
}*/ 

div.lent-day {
	position: relative;
	top: 0px; /* Required offset to hide the border */
	left: 0px;
	width: 300px;
	width: 100%;
	height: 600px;
	transition: top 2.0s ease;
	/*border: 1px #fff solid;  For some reason this makes the top align correctly! */
}

div.lent-day-surround.lent-day-double div.lent-day {
	width: 600px;
}

div.lent-day-surround.lent-day-triple div.lent-day {
	width: 900px;
}

/*div.lent-day-surround.lent-day-double div.lent-day div.lent-day-image-surround {
	width: 600px;
}*/


/* div.lent-day:last-of-type { /* Sabbath *
	width: 600px;
} */

/* div.lent-day-surround.rest-week-1 div.lent-day-title:last-of-type { /* Sabbath - special case (week 1) *
	width: 600px;
} */

div.lent-day.open {
	top: -300px; /* See notes under div.lent-day above */
	transition: top 2.0s ease;
}

div.lent-day-title, div.lent-day-image, div.lent-day-text {
	width: 300px;
}

div.lent-day-surround.lent-day-double div.lent-day-title, div.lent-day-surround.lent-day-double div.lent-day-image, div.lent-day-surround.lent-day-double div.lent-day-text {
	width: 600px;
}

div.lent-day-surround.lent-day-triple div.lent-day-title, div.lent-day-surround.lent-day-triple div.lent-day-image, div.lent-day-surround.lent-day-triple div.lent-day-text {
	width: 900px;
}

/* div.lent-day-title:last-of-type, div.lent-day-image:last-of-type, div.lent-day-text:last-of-type { /* Sabbath *
	width: 730px;
} */

/* div.lent-day-surround.rest-week-1 div.lent-day-title:last-of-type, div.lent-day-surround.rest-week-1 div.lent-day-image:last-of-type, div.lent-day-surround.rest-week-1 div.lent-day-text:last-of-type { /* Sabbath - special case (week 1) *
	width: 600px;
} */

div.lent-day-image, div.lent-day-title {
	position: absolute;
	left: 0;
	top: 0;
}

div.lent-day-image {
	z-index: 1;
}

div.lent-day-image div.lent-no-bg {
	background-color: #999;
	height: 300px;
}

div.lent-day-image div.lent-no-bg.width-230 {
	width: 300px;
}

div.lent-day-image div.lent-no-bg.width-460 {
	width: 600px;
}

div.lent-day-image div.lent-no-bg.width-690 {
	width: 900px;
}

div.lent-day-overlay {
	position: absolute;
	/*left: 60px;
	top: 60px;*/
	/*left: -120px;
	bottom: 152px;*/
	left: 0px;
	bottom: 300px;
	/*width: 272px;
	height: 272px;*/
	width: 151px;
	height: 124px;
	/*background-color: #bbb; /* Fallback */
	/* background-color: rgba(255, 255, 255, 0.3); */
	/*background-color: rgba(85, 85, 85, 0.3);
	border-radius: 136px;*/
	background: url("img/circle-segment.png");
	background-size: 151px 124px;
	background-position: right top;
	background-repeat: no-repeat;
	z-index: 2;
}

div.lent-day-surround.lent-day-double div.lent-day-overlay, div.lent-day-surround.lent-day-triple div.lent-day-overlay {
	position: absolute;
	left: 0px;
	bottom: 300px;
	pointer-events: none; /* see http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements */
	/*left: 210px;
	top: 60px;*/
}

div.lent-day-title {
	z-index: 10;
	padding-left: 12px;
	vertical-align: bottom;
	height: 300px;
	max-width: 140px; /* 272 - 130px */
	text-shadow: 0 0 2px #777;
}

div.lent-day-title h3 {
	position: absolute;
	bottom: 21px;       
	font-family: 'Arvo', 'Fanwood Text', serif;
	color: #fff;
	font-size: 42px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	width: 90%;
	/* from http://css-tricks.com/almanac/properties/u/user-select/ */
	-webkit-user-select: none;  /* Chrome all / Safari all */ 
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for the below yet, here for future proofing */
	-o-user-select: none;
	user-select: none;   
}

div.lent-day-title h4 {
	position: absolute;
	bottom: 68px;       
	font-family: 'Arvo', 'Fanwood Text', serif;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	width: 200%;
	/* from http://css-tricks.com/almanac/properties/u/user-select/ */
	-webkit-user-select: none;  /* Chrome all / Safari all */ 
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for the below yet, here for future proofing */
	-o-user-select: none;
	user-select: none;   
}

div.lent-day-title h4:first-of-type {
	position: absolute;
	bottom: 4px; 
	font-size: 16px;
}	

div.lent-day-title h5 {
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-transform: none;
	font-style: italic;
	text-align: center;
	width: 100%;
	margin: 10px 0 0 0; /* 127px */
	letter-spacing: 0.6px;
	/* from http://css-tricks.com/almanac/properties/u/user-select/ */
	-webkit-user-select: none;  /* Chrome all / Safari all */ 
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	/* No support for the below yet, here for future proofing */
	-o-user-select: none;
	user-select: none;          
}	

div.lent-day-title h5 span.numbers {
	/*position: relative;
	top: 0;
	font-size: 18px;
	font-family: Times, serif;
	line-height: 18px;*/
}

/*
div.lent-day-title h3:first-of-type {
	margin-top: 25px;
}

div.lent-day-title h3:nth-of-type(2) {
	margin-top: 50px;
}

div.lent-day-title h3:nth-of-type(3) {
	margin-top: -5px;
	font-size: 60px;
	line-height: 60px;
	letter-spacing: -4px;
	font-weight: bold;
}*/ 

/*div.lent-day-date {
	position: absolute;
	right: 0;
	top: 250px;
	background-color: #bbb; /* Fallback */
	/*background-color: rgba(85, 85, 85, 0.3);
	z-index: 10;
	padding: 0;
}

div.lent-day-date h4 {
	font-family: 'Arvo', 'Fanwood Text', serif;
	font-weight: normal;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	padding: 4px 12px;
	margin: 0;
}*/

div.lent-day-date h4 span.numbers {
	/*font-size: 22px;
	font-weight: 100;
	letter-spacing: 0;*/
	/*font-family: Times, serif;
	letter-spacing: 0.4px;*/
}

div.lent-day-text {
	margin-top: 300px;
	width: 280px;
	height: 280px;
	padding: 10px;
	float: left;
}

div.lent-day-text p {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	padding: 0;
	margin: 6px 0;
}

div.lent-day-text h3:nth-of-type(n+1) {
	margin-top: 10px;
}

div.lent-day-text .entry h3 {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	padding: 0;
	margin: 6px 0;
	font-weight: bold;
	font-style: italic;
}

div.lent-day-text .entry, div.lent-day-text .entry p {
 	width: 280px !important;
}

div.lent-day-surround.lent-day-double div.lent-day-text .entry, div.lent-day-surround.lent-day-double div.lent-day-text .entry p {
 	width: 580px !important;
}

div.lent-day-surround.lent-day-triple div.lent-day-text .entry, div.lent-day-surround.lent-day-triple div.lent-day-text .entry p {
 	width: 880px !important;
}

/*div.lent-day-surround:last-of-type div.lent-day-text { /* Sabbath
	width: 880px;
}

div.lent-day-surround:last-of-type div.lent-day-text .entry, div.lent-day-surround:last-of-type div.lent-day-text .entry p { /* Sabbath
	width: 880px !important;
}

div.lent-day-surround.rest-week-1 div.lent-day-text { /* Sabbath - special case (week 1)
	width: 440px;
}

div.lent-day-surround.rest-week-1 div.lent-day-text .entry, div.lent-day-surround.rest-week-1 div.lent-day-text .entry p { /* Sabbath - special case (week 1)
	width: 440px !important;
} */

div#bootstrap-test {
	z-index: 10000;
	text-align: center;
	font-weight: bold;
}


/* 5. Navs */

/* Bootstrap Overrides */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
    border: none;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border: none;
}

.navbar-nav>li {
    float: none;
}

.navbar-collapse {
    width: 160px;
    border: 1px #f00 solid;
}

aside .container, #aside-wrap { /* Fixes for issues on tablets etc */
	max-width: 25% !important;
}

/* Nav styling */

nav {
	font-family: 'Fanwood Text', serif;
	position: relative;
	z-index: 20;
}

nav ul {
	position: relative;
	left: 35px;
}

nav ul li {
	font-family: 'Fanwood Text', serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 180px;
}

/*nav ul li span.current {
	display: block;
	position: relative;
	left: -12px;
	top: 6px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: #f00;
}*/

nav ul.navbar-nav>li.current {
	display: list-item !important;
	list-style-type: disc !important;
}

nav a, nav a:link, nav a:visited, .navbar-default .navbar-nav>li>a {
	display: block;
	width: 100%;
	/*margin-right: 10%;*/
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	background: #fff;
	padding: 4px 6px;
}

nav a span.date, .navbar-default .navbar-nav>li>a span.date {
	color: #504b72;
	text-transform: capitalize;
}

nav a:hover, .navbar-default .navbar-nav>li>a:hover {
	background: #f8f7ff;
	text-decoration: none;
}

nav a:active, .navbar-default .navbar-nav>li>a:active {
	background: #f0ebff; /* +160 */
	text-decoration: none;
}




/* 6. Individual Pages (see headings within this section) */


/* Single */

body.single div.lent-day {
	height: 900px;
}

body.single .lent-day-image img {
	width: 600px;
	height: auto;
}

body.single div.lent-day-surround {
	width: 600px;
	max-width: 100%;
	height: auto;
}

body.single div.lent-day-overlay {
	position: absolute;
	left: 0px;
	top: 476px;
}

body.single div.lent-day-title {
	height: 600px;
}

body.single div.lent-day-text {
	margin-top: 600px;
	width: 600px;
	max-width: 100%;
	height: auto;
	padding: 10px;
	clear: both;
}

body.single div.lent-day-text .entry, body.single div.lent-day-text .entry p, body.single div.lent-day-surround.lent-day-double div.lent-day-text .entry, body.single div.lent-day-surround.lent-day-double div.lent-day-text .entry p, body.single div.lent-day-surround.lent-day-triple div.lent-day-text .entry, body.single div.lent-day-surround.lent-day-triple div.lent-day-text .entry p {
 	width: 580px !important;
 	max-width: 100% !important;
}

body.single #main-content .row {
	margin-left: 0;
	margin-right: 0;
}

body.single div.lent-day-image div.lent-no-bg {
	background-color: #999;
	height: 600px;
}


/* 7. Miscellaneous and General Classes */

.clear {
	clear: both;
}


/* 8. Bootstrap overrides (general) */


/* 9. Bootstrap overrides (by screen size) */

/* Large - LG size */
@media (min-width: 1200px) {

	html.splash {
		background: url('img/beach_sunset@05x.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	@media (min-width: 1250px) { /* Override width only on very large screens to make the lent day boxes grid remain in 3 columns, not go up to 4 */
		.lent-week-display {
			max-width: 950px;
		}
	}

	@media (max-width: 1230px) { /* Override width only on this size to make the lent day boxes fit */
		#main-content .post {
			margin-left: 0;
		}
	}
	
	@media (max-width: 1220px) { /* Override width only on this size to make the lent day boxes fit */
		
		div.lent-day-surround {
			width: 296px;
			overflow-x: hidden;
		}
		
		div.lent-day-surround.lent-day-double {
			width: 592px;
		}

		div.lent-day {
			width: 296px;
		}
	}
	
}

/* Medium - MD size */
@media (min-width: 992px) and (max-width: 1199px) {
	
	
	div.lent-day-surround {
		width: 245px;
	}
	
	div.lent-day-surround.lent-day-double, div.lent-day-surround.lent-day-double div.lent-day {
		width: 490px;
	}
	
	div.lent-day-surround.lent-day-triple, div.lent-day-surround.lent-day-triple div.lent-day {
		width: 735px;
	}

	div.lent-day.open {
		top: -300px; /* See notes under div.lent-day above */
		transition: top 2.0s ease;
	}
	
	div.lent-day-title, div.lent-day-image, div.lent-day-text {
		width: 245px;
	}
	
	div.lent-day-surround.lent-day-double div.lent-day-title, div.lent-day-surround.lent-day-double div.lent-day-image, div.lent-day-surround.lent-day-double div.lent-day-text {
		width: 490px;
	}
		
	div.lent-day-image div.lent-no-bg.width-230 {
		width: 245px;
	}
	
	div.lent-day-image div.lent-no-bg.width-460 {
		width: 490px;
	}
	
	div.lent-day-image div.lent-no-bg.width-690 {
		width: 735px;
	}
	
	/*div.lent-day-overlay {
		position: absolute;
		left: 34px;
		top: 60px;
	}
	
	div.lent-day-surround.lent-day-double div.lent-day-overlay {
		position: absolute;
		left: 158px;
		top: 60px;
	}*/

	div.lent-day-text p {
		font-family: "proxima-nova", Helvetica, Arial, sans-serif;
		font-size: 12px;
		line-height: 14px;
		padding: 0;
		margin: 4px 0;
	}
	
	div.lent-day-text h3:nth-of-type(n+1) {
		margin-top: 10px;
	}
	
	div.lent-day-text .entry, div.lent-day-text .entry p {
	 	width: 228px !important;
	}
	
	div.lent-day-surround:last-of-type div.lent-day-text { /* Sabbath */
		width: 734px;
	}
	
	div.lent-day-surround:last-of-type div.lent-day-text .entry, div.lent-day-surround:last-of-type div.lent-day-text .entry p { /* Sabbath */
		width: 734px !important;
	}
	
	div.lent-day-surround.rest-week-1 div.lent-day-text { /* Sabbath - special case (week 1)*/
		width: 440px;
	}
	
	div.lent-day-surround.rest-week-1 div.lent-day-text .entry, div.lent-day-surround.rest-week-1 div.lent-day-text .entry p { /* Sabbath - special case (week 1)*/
		width: 440px !important;
	}

}

/* Small - SM size */
@media (min-width: 768px) and (max-width: 991px) {
	
	header, footer { /* header, footer, .col-sm-3, aside .container, aside .col-sm-3 */
		padding: 0 !important;
	}
	
	aside div.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	#aside-wrap.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	
	#aside-wrap .col-sm-3 {
		padding-left: 0;
		padding-right: 0;
	}

	aside header {
		height: 150px;
	}
	
	aside header #header-cross {
		left: 15px;
	}
	
	aside header #header-title {
		position: relative;
		left: 15px;
		top: 83px;
	}
		
	.col-sm-3, aside .container {
		max-width: 150px;
	}
	
	#all-wrap.container-fluid {
		padding-right: 0;
	}
	
	/*.col-sm-9 { CAUSED RESPONSIVE ISSUES
		min-width: 588px;
	}*/
	
	nav ul {
		position: relative;
		left: 40px;
	}
	
	.lent-day-single-sm {
		width: 300px !important;
	}
	
	/*.lent-day-single-sm img {
		position: relative;
		left: -150px;
	}*/
	
	.lent-day-single-sm div.lent-day {
		max-width: 300px;
	}

	.lent-day-single-sm div.lent-day-title, .lent-day-single-sm div.lent-day-image, .lent-day-single-sm div.lent-day-text {
		max-width: 300px;
	}

	/*.lent-day-single-sm div.lent-day-overlay {
		position: absolute !important;
		left: 60px !important;
		top: 60px !important;
	}*/

	div.lent-day-surround.lent-day-triple, div.lent-day-surround.lent-day-triple div.lent-day {
		width: 600px;
	}
	
	.lent-day-surround.lent-friday {
		width: 600px;
	}

	.lent-day-surround.lent-friday .lent-day-image {
		overflow: hidden;
		width: 600px;
		height: 300px;
	}
	
	.lent-day-surround.lent-friday .lent-day-image img {
		width: 600px;
		height: auto;
	}
	
	.lent-day-surround.lent-friday div.lent-day-text {
		width: 580px;
	}

	.lent-day-surround.lent-friday div.lent-day-text .entry, .lent-day-surround.lent-friday div.lent-day-text .entry p {
	 	width: 580px !important;
	}
	
	@media (max-width: 815px) { /* Override width only on this size to make the lent day double boxes single sized */
	
		#main-content .post {
			margin-left: 0;
		}
		
		body .col-sm-9 { /* Bootstrap override to maintain box grid */
			width: 78%;
		}
	}
}

/* Smallest - XS size */ 
@media (max-width: 767px) { /* see http://getbootstrap.com/css/ > Grid Options */
	
	#header-splash .col-lg-12 {
		padding: 0 !important;
	}

	#splash-intro-container.container-fluid {
		padding: 0 !important;
	}

	#splash-intro-outer {
		max-width: 315px;
		overflow: hidden;
		margin: 0 auto;
	}

	#aside-wrap.container-fluid {
		/*display: none !important;*/
		position: relative !important; /* This line is important! It gets the Nav to display inline, and keeps it moving the content up and down */
	}

	aside {
		height: auto;
		/*margin-bottom: 20px;*/
	}
	
	aside, #main-content, .main-pages .col-lg-3, .main-pages .col-lg-7, .main-pages .col-lg-8, .main-pages .col-lg-1 {
		min-height: 1vh;
	}

	aside .container, #aside-wrap { /* Undo ixes for issues on tablets etc */
		max-width: 100% !important;
	}
	
	footer {
		margin-bottom: 20px;
	}
	
	div#navbar.navbar-collapse {
		overflow: hidden !important;
	}
	
	img.alignright, img.aligncenter {
		float: left;
	}
	
	iframe {
		max-width: 100%;
		height: auto;
	}
	
	header {
		z-index: 100;
		max-width: 133px;
	}
	
	nav {
		/*position: relative !important;
		top: -20px !important;*/
		margin-top: -60px !important;
	}

	.lent-day-single-sm {
		width: 300px !important;
	}
	
	/*.lent-day-single-sm img {
		position: relative;
		left: -150px;
	}*/
	
	.lent-day-single-sm div.lent-day {
		max-width: 300px;
	}

	.lent-day-single-sm div.lent-day-title, .lent-day-single-sm div.lent-day-image, .lent-day-single-sm div.lent-day-text {
		max-width: 300px;
	}

	div.lent-day-surround.lent-day-triple, div.lent-day-surround.lent-day-triple div.lent-day {
		width: 600px;
		max-width: 100%;
	}

	/*.lent-day-single-sm div.lent-day-overlay {
		position: absolute !important;
		left: 60px !important;
		top: 60px !important;
	}*/
	
	footer .social-media-links {
		float: right;
	}
	
	@media (max-width: 629px) { /* Override width only on this size to make the lent day double boxes single sized */
	
		.lent-day-double, .lent-day-triple {
			max-width: 300px;
		}
	
		div.lent-day-surround.lent-day-double div.lent-day, div.lent-day-surround.lent-day-triple, div.lent-day-surround.lent-day-triple div.lent-day {
			max-width: 300px;
		}
	
		div.lent-day-surround.lent-day-double div.lent-day-title, div.lent-day-surround.lent-day-double div.lent-day-image, div.lent-day-surround.lent-day-double div.lent-day-text, div.lent-day-surround.lent-day-triple div.lent-day-title, div.lent-day-surround.lent-day-triple div.lent-day-image, div.lent-day-surround.lent-day-triple div.lent-day-text {
			max-width: 300px;
		}
	
		div.lent-day-surround.lent-day-double div.lent-day-text .entry, div.lent-day-surround.lent-day-double div.lent-day-text .entry p {
		 	width: 280px !important;
		}
		
		div.lent-day-surround.lent-day-triple div.lent-day-text .entry, div.lent-day-surround.lent-day-triple div.lent-day-text .entry p {
		 	width: 280px !important;
		}
	
		/*div.lent-day-surround.lent-day-double div.lent-day-overlay {
			position: absolute;
			left: 60px;
			top: 60px;
		}*/

		body.single #main-content .row {
			margin-left: -15px;
			margin-right: -15px;
		}
		
	}

	@media (min-width: 630px) { /* Override width only on this size to make the lent Friday single boxes double sized */

		.lent-day-surround.lent-friday {
			width: 600px;
		}
	
		.lent-day-surround.lent-friday .lent-day-image {
			overflow: hidden;
			width: 600px;
			height: 300px;
		}
		
		.lent-day-surround.lent-friday .lent-day-image img {
			width: 600px;
			height: auto;
		}
		
		.lent-day-surround.lent-friday div.lent-day-text {
			width: 580px;
		}
	
		.lent-day-surround.lent-friday div.lent-day-text .entry, .lent-day-surround.lent-friday div.lent-day-text .entry p {
		 	width: 580px !important;
		}
	
	}

}


/* 10. Retina images */


@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 120dpi) {

	.white-cross {
		background: url('img/white-cross-large@2x.png') no-repeat center center;
		background-size: 83px 111px;
	}

	/*
	@media (max-width: 1199px) {
		html.splash {
			background: url('img/beach_sunset@05x.jpg') no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}

	@media (min-width: 1200px) {
		html.splash {
			background: url('img/beach_sunset.jpg') no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}
	*/
}


.do-not-print { display: none; }
#comments { page-break-before: always; }

/*
body { width: 100% !important; margin: 0 !important; padding: 0 !important; line-height: 1.4; word-spacing: 1.1pt; letter-spacing: 0.2pt; font-family: Geori,"Times New Roman", serif; color: #000; background: none; font-size: 12pt; }
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 19pt; }
h2 { font-size:17pt; }
h3 { font-size:15pt; }
h4,h5,h6 { font-size:12pt; }
code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em; }
img { display: block; margin: 1em 0; }
a img { border: none; }
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th, td { padding: 4px 10px 4px 0; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; } 
a { text-decoration: none; color: black; }
	
} /* END print media */